@import '../../../settings.scss';

.board-content {
    display: flex;
    margin: 0 10px 10px;
    overflow-x: auto;
    &::-webkit-scrollbar {
        -webkit-apperance: none;

    }
    &::-webkit-scrollbar:horizontal {
        height: 9px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.24);
        border-right: 5px solid gray;
    }

}
