@import '../../../settings.scss';

.board-content {
    height: $board-content-height;
    display: flex;
    // margin: 0 10px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        -webkit-apperance: none;

    }
    &::-webkit-scrollbar:horizontal {
        height: 9px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.24);
        border-right: 5px solid gray;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        width: 250px;
        height: 32px;
        list-style: 32px;
        padding: 6px 0 4px 15px;
        margin-left: $gap;
        font-size: 15px;
        color: white;
        background-color: hsla(0, 0%, 100%, 0.24);
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: hsla(0, 0%, 100%, 0.34);
        }
        
    }
}
