@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 4px;


$gap: 10px;

//app bar + board bar + boardContent + 100vh
$navbar-app-height: 4vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

//Colors
$board-bg-color: rgb(132, 140, 207);
$navbar-board-bg-color: rgb(36, 37, 42);
$list-bg-color: rgb(238, 238, 238);

//Frame

$screen-lg: 1261px;
$screen-md: 992px;
$screen-sm: 768px;
$screnn-iphone: 488px;


