@import '../../../settings.scss';

.navbar-board {
  height: $navbar-board-height;
  background-color: $board-bg-color;
  display: flex;
  align-items: center;
  padding-left: $gap;
  font-size: 1.1em;
}
