@import '../../../settings.scss';

$navbar-app-bg-color: rgb(137, 196, 244);

.nav-app {
    background-color: $navbar-app-bg-color;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: $gap;
}