@import "../../_settings.scss";

.navbar-app {
  padding: 0 $gap;
  background-color: $appbar-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-app-height;
  font-size: 1.1em;
  .navbar-left {
    display: flex;
    align-items: center;
    height: 100%;
    .app-logo {
      height: $navbar-element-height;
      padding: 0 6px;
      border-radius: $navbar-element-border-radius;
      &:hover {
        cursor: pointer;
        background-color: $hover-bg-color;
      }
      img {
        height: 100%;
      }
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
    .navbar-search {
      border-radius: $search-element-border-radius;
      padding: 4px 8px;
      background-color: darken($appbar-bg-color, 10);
      &:hover {
        background-color: darken($appbar-bg-color, 15);
      }
      .app-searching-icon {
        font-size: 18px;
        margin-right: 4px;
        color: $fade-text-color;
      }
      input.navbar-search-input {
        border: none;
        background-color: transparent;
        outline: none;
        &:focus {
          background-color: #fff;
          border-radius: 2px;
        }
      }
    }
    .navbar-notify {
      font-size: 18px;
      margin: 0 16px;
      line-height: 100%;
      cursor: pointer;
      &:hover {
        color: rgb(120, 119, 119);
      }
      .app-notify-icon {
        display: flex;
        align-items: center;
        color: $color;
        &:hover {
          color: $color-2;
        }
      }
    }
    .navbar-user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: url("https://picsum.photos/200/200") no-repeat center;
      background-size: cover;
      cursor: pointer;
      -webkit-transition: box-shadow 0.6s ease-out;
      box-shadow: 0.8px 0.9px 3px grey;
      &:hover {
        box-shadow: 1px 8px 20px white;
        -webkit-transition: box-shadow 0.6s ease-in;
      }

      .app-user-icon {
        display: flex;
        text-align: center;
        padding-left: 8px;
        padding-top: 8px;
        background-color: transparent;
        color: transparent;

        &:hover {
          color: $color;
          transition: 0.4s;
        }
      }
    }
  }
}
