@import '../../../settings.scss';

$list-bg-color: #ebecf0;
$column-height: calc(#{$board-content-height} - #{$gap * 2});




.column {
    // &.hide * {
    //     background-color:red;
        
    // }
    // opacity: 1;
    // display: 0 0 auto;
    flex: 0 0 auto;
    min-width: 300px;
    width: 300px;
    height: $column-height;
    margin-left: $gap;

    > * {
        background-color: #ebecf0;
        color: black;
        padding: 0 8px;
    }

    header.column-drag-handle{
        padding-left: 15px;
        line-height: $column-header-height;
        height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;

    }
    footer {
        padding-left: 10px; 
        line-height: $column-footer-height;
        height: $column-footer-height;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: green;

        .footer-action {
            margin-left: $gap;
            cursor: pointer;
            &:hover {
                color: grey;
            }
        }
    }

    .card-list {
        
        margin: 0;
        max-height: calc($column-height - #{$column-header-height} - #{$column-footer-height});
        
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-apperance: none;

        }
        &::-webkit-scrollbar:vertical {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.24);
            border-right: 5px solid gray;
        }

        .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg)
        }
        
        .card-ghost-drop{
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg)
        }

        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed rgb(0, 122, 243);
            margin: 5px;
        }
    }
}
