@import '../settings.scss';


body {
    margin: 0;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3em;
}


.trello-container {
    height: 100vh;
    overflow: hidden;
    background-color: $board-bg-color;
    color: black;

    .icon {
        font-size: 16px;
        margin-left: 3px;
    }
}

