@import "~bootstrap/scss/bootstrap";
@import "../src/settings";


body {
  margin: 0;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.3em;
}

.trello-container {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: rgb(0, 0, 0);

  .icon {
    font-size: 20px;
    margin-left: 3px;
  }

  .TrelloApp-trello-clone-container {
    margin: 0 12px;
    padding: 0;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $border-color;
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .content-editable {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    &:focus {
      background-color: $color-2;
    }
  }
  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;
  }
  .cancel-icon {
    font-size: 18px;
    color: #6b778c;
    &:hover {
      color: rgba(242, 38, 19, 1);
    }
  }
}
